pandas==0.13.1
statsmodels==0.5.0

Fabric==1.9.0               

paramiko==1.14.0

pycrypto==2.6.1

ecdsa==0.11

PyYAML==3.11

Scrapy==0.22.2

cssselect==0.9.1

Twisted==13.2.0

six==1.7.2

awscli==1.3.17
bcdoc==0.12.2

colorama==0.2.5

docutils==0.11

rsa==3.1.2

jmespath==0.4.1

python-dateutil==2.2

pyasn1==0.1.7

beautifulsoup4==4.3.2

distribute==0.6.49

dumptruck==0.1.5

geopy==0.99

lxml==3.3.4

mechanize==0.2.5

nltk==2.0.4

nose==1.3.1

numpy==1.8.1

patsy==0.2.1

pyOpenSSL==0.14

pygeocoder==1.2.4

pymongo==2.7

pyparsing==1.5.7

pythonselect==1.3

requests==2.3.0

scraperwiki==0.3.8

simplejson==3.4.1

textdata==1.0.1

virtualenv==1.7.2

wsgiref==0.1.2

matplotlib==1.2.0

scipy==0.14.0rc2

scikit-learn==0.13




