<!DOCTYPE html>
<html>

<style>
TD{font-family:lucida calligraphy; font-size:12pt;}
</style>

<body>
	      <div style="float:right;word-spacing:0;"> 

    	<a class="home" href="http://127.0.0.1:8000/bars" target="_top"> 
    	<font face = "lucida calligraphy" size=2>
    	HOME </font></a> 
    	<span style="letter-spacing:10px;"> | </span>

    	<a class="city" href="http://127.0.0.1:8000/bars/city" target="_top"> 
    	<font face = "lucida calligraphy" size=2>
    	CITY </font></a> 
    	<span style="letter-spacing:10px;"> | </span>
    	
    	<a class="about" href="http://127.0.0.1:8000/bars/about" target="_top"> 
    	<font face = "lucida calligraphy" size=2>
    	ABOUT </font></a> 
    	<span style="letter-spacing:10px;"> | </span>
    	
    	<a class="contact" href="http://127.0.0.1:8000/bars/contact" target="_top"> 
    	<font face = "lucida calligraphy" size=2>
    	CONTACT </font></a> 
    	<span style="letter-spacing:10px;"> | </span>
    	
    </div> <br>
    
    	<div align="center">
		<h1> <font face = "lucida calligraphy" size=6> Project Stack </font></h1>
	    </div> <br>	
    
    <div align="center">	
	<table style="width:350px" cellpadding="0" cellspacing="15" border="0">
      
      <tr>
        <td>Hard&nbspCoding: </td> <td>Python</td>
      </tr>
      <tr>
        <td>Web&nbspScrapping: </td> <td>Urllib&nbsp&&nbspBeautiful&nbspSoup</td>
      </tr>
      <tr>
        <td>DBMS: </td> <td>MySQL</td>
      </tr>
      <tr>
        <td>Statistics: </td> <td>ipython,&nbspNumpy,&nbsp&&nbspPandas</td>
      </tr>
      <tr>
        <td>Machine&nbspLearning: </td> <td>Scikit-Learn</td>
      </tr>
      <tr>
        <td>Web&nbspDevelopment: </td> <td>Django,&nbspHTML,&nbspCSS,&nbsp&&nbspJS</td>
      </tr>
	</table> 
	</div>
	
</body>
</html>