<!DOCTYPE html>
<html>
<body>
      <div style="float:right;word-spacing:0;"> 

    	<a class="home" href="http://127.0.0.1:8000/bars" target="_top"> 
    	<font face = "lucida calligraphy" size=2>
    	HOME </font></a> 
    	<span style="letter-spacing:10px;"> | </span>

    	<a class="city" href="http://127.0.0.1:8000/bars/city" target="_top"> 
    	<font face = "lucida calligraphy" size=2>
    	CITY </font></a> 
    	<span style="letter-spacing:10px;"> | </span>
    	
    	<a class="about" href="http://127.0.0.1:8000/bars/about" target="_top"> 
    	<font face = "lucida calligraphy" size=2>
    	ABOUT </font></a> 
    	<span style="letter-spacing:10px;"> | </span>
    	
    	<a class="contact" href="http://127.0.0.1:8000/bars/contact" target="_top"> 
    	<font face = "lucida calligraphy" size=2>
    	CONTACT </font></a> 
    	<span style="letter-spacing:10px;"> | </span>
    	
    </div> <br>

	<div align="center">
		<h1> <font face = "lucida calligraphy" size=6> Your Suggestions always optimize our solutions </font></h1>
		<h3> <font face = "lucida calligraphy" size=3> Please fill the form and email us </font></h3>
	</div> <br>


	 <div align="center">
     	<font face="Lucida Calligraphy" size=3 > 
        	<form action="MAILTO:chamathla@yahoo.com" method="POST" enctype="multipart/form-data">
            	<input type="hidden" name="action" value="submit"/> Name:<br />
                <input name="name" type="text" value="" size="30"/> <br /> Email:<br />
      			<input name="email" type="text" value="" size="30"/> <br /> Message:<br />
      			<textarea name="message" rows="10" cols="50"> </textarea> <br />
      			<input type="submit" value="Send email"/>
     		</form> 
     	</font>
     </div>
	
	
</body>
</html>